/* D3 styling */
.axis line,
.axis path {
  shape-rendering: crispEdges;
  fill: transparent;
  stroke: rgba(0, 0, 0, 0);
}
.axis text {
  font-size: 11px;
}

.labelText {
  font-size: 11px;
}

.line {
  fill: none;
  stroke: rgb(0, 188, 212);
  stroke-width: 1.5px;
}